.contacts-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color var(--primary-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}