.header {
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__logo--black {
    color: var(--primary-black-color);
  }
}
