.button {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

.order-button {
  display: inline-flex;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: none;
  border-radius: 4px;
  box-shadow: var(--button-shadow);

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  transition: background-color var(--primary-transition);

  &:hover,
  &:focus {
    background-color: var(--order-button-color);
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-button__icon {
  display: block;
  fill: var(--primary-black-color);
  transition: fill var(--primary-transition);
}

.close-button__icon:hover,
.close-button__icon:focus {
  fill: var(--accent-color);
}
